body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
    padding-top: 450px;
    padding-bottom: 300px;
}

#video-container {
    display: flex;
    flex-direction: row;
    gap: 30px; 
    width: 1000px;
    height: 450px;
    margin: auto;
    justify-content: left;
    align-items: center;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

#video-container-1 {
    width: 1000px;
    height: 500px;
    margin: auto;
    /* justify-content: left; */
    align-items: center;
    background: #413b3b;
    border: 2px solid #413b3b;
    border-radius: 8px;
    overflow: hidden;
}

#video-player-1 {
    width: 750px;
    height: 450px;
    object-fit:scale-down;
    align-items: center;
    margin-left: 110px;
}

#video-player {
    width: 700px;
    height: 450px;
    object-fit: cover;
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 32px;
    margin-bottom: 20px;
}

.config-container {
    display: flex;  /* Create a flexible layout */
    justify-content: space-between;  /* Space between the left and right blocks */
    gap: 20px; 
}

.config-inputs {
    display: flex;
    flex-direction: column; /* Stack the fields vertically */
    gap: 20px; 
    width: 50%;
    /* margin-left: 80px; 
    margin-bottom: 20px; */
    border: 2px solid #ccc; /* Border around the config-options */
    padding: 15px; /* Padding inside the box */
    border-radius: 8px; /* Rounded corners for the box */
    background-color: #f9f9f9; /* Light background color for the box */
}

.config-options {
    display: flex;
    flex-direction: column; /* Stack the options vertically */
    gap: 20px; 
    width: 45%;
    /* margin-right: 20px;
    margin-bottom: 20px; */
    border: 2px solid #ccc; /* Border around the config-options */
    padding: 15px; /* Padding inside the box */
    border-radius: 8px; /* Rounded corners for the box */
    background-color: #f9f9f9; /* Light background color for the box */
}

.pred {
    border: 2px solid #ccc; /* Border around the config-options */
    padding: 15px; /* Padding inside the box */
    border-radius: 8px; /* Rounded corners for the box */
    width: 20%;
    gap: 20px; 
    background-color: #f9f9f9; /* Light background color for the box */
}

.edge {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc; /* Border around the config-options */
    padding: 15px; /* Padding inside the box */
    width: 30%;
    /* margin-left: 200px; */
    gap: 20px; 
    border-radius: 8px; /* Rounded corners for the box */
    background-color: #f9f9f9; /* Light background color for the box */
}

.server {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc; /* Border around the config-options */
    padding: 15px; /* Padding inside the box */
    width: 30%;
    /* margin-right: 200px; */
    gap: 20px; 
    border-radius: 8px; /* Rounded corners for the box */
    background-color: #f9f9f9; /* Light background color for the box */
}